@model Book_Store_Database_Design.Models.Book

<h2>Create Book</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

   @*  <div class="form-group">
        <label asp-for="AuthorID"></label>
        <input asp-for="AuthorID" class="form-control" />
        <span asp-validation-for="AuthorID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryID"></label>
        <input asp-for="CategoryID" class="form-control" />
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="QuantityInStock"></label>
        <input asp-for="QuantityInStock" class="form-control" />
        <span asp-validation-for="QuantityInStock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PublicationYear"></label>
        <input asp-for="PublicationYear" class="form-control" />
        <span asp-validation-for="PublicationYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index">Cancel</a>
    </div>
</form>
