@model Book_Store_Database_Design.Models.Book

<h2>Edit Book</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="BookID" />

    <div class="form-group">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    @* <div class="form-group">
        <label asp-for="AuthorID"></label>
        <input asp-for="AuthorID" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryID"></label>
        <input asp-for="CategoryID" class="form-control" />
    </div> *@

    <div class="form-group">
        <label asp-for="QuantityInStock"></label>
        <input asp-for="QuantityInStock" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PublicationYear"></label>
        <input asp-for="PublicationYear" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
